

.center-welcome {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-self: center;
	padding-top: 20%;
}

.tip {
	font-size: 16px;
	font-family: Arial;
}

.main {
	padding: 30px 40px 40px 40px;
	font-family: Arial;
}

.top {
	border-bottom: 2px #000 solid;
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-bottom: -10px;
}

.page-name {
	width: 80%;
}

.navigation {
	padding-right: 20px;
	width: 20%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.add {
	margin-right: 40px;
}

.save {
	margin-right: 40px;
}

.center {
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-flow: row wrap;
	align-content: flex-start;
	height: 65vh;
}

.product {
	display: flex;
	flex-direction: column;
	border: 2px #000 solid;
	width: 240px;
	height: 150px;
	margin-top: 40px;
	margin-right: 40px;
	text-align: center;
	align-self: flex-start;
}

.box {
	padding-top: 20px;
	padding-left: 20px;
}

.box-icon {
	display: flex;
	align-content: flex-start;
}

.product-details {
	padding: 0 5px 20px 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bottom {
	text-align: center;
	border-top: 2px solid #000;
	margin-top: 40px;
	font-size: 14px;
}


/*specific to add-product-page*/

.center-add-page {
	display: flex;
	flex-direction: column;
	height: 70vh;
}

.property {
	display: flex;
	margin-top: 25px;
	align-items: baseline;
}

.property-name {
	width: 70px;
}

.select-label {
	width: 120px;
}

.placeholder {
	color: #58595B;
}

.specific {
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	margin-top: 40px;
	padding-left: 20px;
	padding-right: 20px;
	border: 2px solid #000;
}

.specific-property {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	justify-content: flex-start;
	align-items: baseline;
}

.specific-name {
	width: 100px;
}

.specific-detail {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 14px;
}

input,
select {
	border: 2px solid #000;
	font-size: 16px;
	background-color: #fff;
	color: #000;
}

button {
	border: 2px solid #000;
	box-shadow: 5px 5px;
	cursor: pointer;
	height: 26px;
	font-size: 16px;
	color: #000;
	background-color: #fff;
}

button:hover {
	background-color: #ccc;
}

.error-container {
	display: none;
	padding: 0 0 0 0;
	margin: -10px 0 -10px 0;
	font-size: 12px;
	color: #e33;
}

.error-message-property {
	padding-left: 70px;
}

.error-message-specific {
	padding-left: 100px;
}

.select-property {
	align-items: baseline;
}
